

.top-part{
  text-align: center;
  list-style: none;
}
.navbar-default {
  background-color: #A53860;
}
.nav-brand {
  margin-bottom: -40px;
  display: block;
  font-size: 24px;
  padding: 0;
  margin-top: 0;
  padding-top: 4px;
}

.nav-brand h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.middle-section1 {
  margin-bottom: 1px;
}

.middle-section2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro-part {
  /* padding-top: 20px;
  padding-bottom: 1px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 10px; */
}

.middle-section3 {
  
}


.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.number-1 {
  margin-bottom: 345px;
}
.number-2  {
  margin-bottom: 360px;  
}

.number-3 {
  margin-bottom: 5px;
}

.
/*
.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 30px;
    background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,0) );
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 0;
} */

.footer-part1, h4 {
  text-align: center;
}

.footer-section {
  background-color: #4C3B4D;
  margin-top:60px;
  padding: 40px 0;
  color: rgba(255,255,255,.5);
}
.footer-section a {
  color: rgba(255,255,255,.5);
}
.footer-section a:hover {
  color: rgba(255,255,255,1);
}

.social-icons {
  margin: 30px 0;
}
.social-icons a {
  margin: 0 10px;
}

i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .list-inline>li {
    font-size: 16px;
    color: #fff;
  }
}
