
/* body{
background-color: black;
} */
.top-section{
  text-align: center;
  list-style: none;
}
.navbar-default {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
}
.nav-brand {
  margin-bottom: -0px;
  display: block;
  font-size: 24px;
  padding: 0;
  margin-top: 0;
  padding-top: 4px;
}

.nav-brand h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  text-align: left;
}

.nav-brand img {
  float: left;
  opacity: 0.6;
  width: 12%;
}

.menu-bar {
  margin-top: 10px; 
  background-color: #702632;
}

.navbar-default .navbar-nav>li>a{
  color: rgba(255,255,255,0.7);
}

.navbar-default .navbar-nav>li>a:hover{
  color: rgba(255,255,255,1);
}

.middle-section1 .jumbotron {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.middle-section3 .jumbotron {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.middle-section2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.intro-part {
  background-color: #702632;
  color: rgba(255,255,255,0.7);
  margin-bottom: 0px;
}


.carousel-inner>.item>a>img,
.carousel-inner>.item>img {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.number-1 {
  margin-bottom: 225px;
}
.number-2  {
  margin-bottom: 250px;
}

.number-3 {
  margin-bottom: 
}

.schedule img {
  width: 100%;
  height: auto;
}
.schedule .tab-content {
  padding-top: 30px;
}

.schedule .poster {
  position: relative;
  display: block;
  color: #fff;
  overflow: hidden;
}
.schedule .poster .caption{
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(1, 57, 95, 0));
  padding: 20px;
  transition: all .3s;
  transform: translateY(100px)
}
.schedule .poster .caption table {
  width: 100%;
}

.schedule .poster:hover .caption {
  opacity: 1;
  transform: translateY(0px)
}
.contact form {
  padding: 30px;
}
.contact-details {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  max-width: 800px;
  margin: -200px auto 0 auto;
  position: relative;
  z-index: 99; 
}
.contact-info {
  background-color:#340f1e;
  color: rgba(255, 255, 255, 0.8);
  height: 100%;
  padding: 30px;
}
.contact-info h2 {
  margin: 0 0 30px;
  padding: 0;
}
.contact-info hr {
  border-color: rgba(255,255,255,.2);
}

/*
.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 30px;
    background: linear-gradient(to right, rgba(0,0,0,.8), rgba(0,0,0,0) );
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 0;
} */

.contact-form label {
  font-size: 16px;
}
.contact-form textarea {
  max-height: 100px;
}


.footer-section {
  background-color: #340f1e;
  margin-top: 60px;
  padding: 40px 0;
  color: rgba(255,255,255,.5);
}
.footer-part1, h4 {
  text-align: center;
}
.footer-section a {
  color: rgba(255,255,255,.5);
}
.footer-section a:hover {
  color: rgba(255,255,255,1);
}

.footer-nav li {
  position: relative;
}
.footer-nav li:not(:first-child)::after {
  content: " | ";
  display: block;
  position: absolute;
  left: -3px;
  top: 0;
}

.social-icons {
  margin: 30px 0;
}
.social-icons a {
  margin: 0 10px;
  color: #fff;
}

i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .list-inline>li {
    font-size: 16px;
    color: #fff;
  }
}
